<services>

	<service>
		<application_name>the_third_eye</application_name>
		<service_name>face_model</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>tensorflow_serving</nature_of_service>
		<isDependent>false</isDependent>
		<tensor_name></tensor_name>
		<replica_count>2</replica_count>
		<location_tag>/India/Delhi/New-Delhi/Saket</location_tag>
		<sensor_name></sensor_name>
		<service_type>normal</service_type>
		<output_stream></output_stream>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
		<scheduling_info>
			<start_at></start_at>
			<num_times></num_times>
			<time_interval></time_interval>
			<duration></duration>
		</scheduling_info>
	</service>


	<service>
		<application_name>the_third_eye</application_name>
		<service_name>face_helper</service_name>
		<priority_index>0</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>true</isDependent>
		<tensor_name></tensor_name>
		<sensor_name>camera001</sensor_name>
		<replica_count>1</replica_count>
		<location_tag>/India/Delhi/New-Delhi/Saket</location_tag>
		<service_type>normal</service_type>
		<output_stream>10.42.0.222:9098</output_stream>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
				<application_name>the_third_eye</application_name>
				<service_name>face_helper</service_name>
			</sequence>
			<sequence>
				<application_name>the_third_eye</application_name>
				<service_name>face_model</service_name>
			</sequence>
			<sequence>
				<application_name>the_third_eye</application_name>
				<service_name>emergency_notification</service_name>
			</sequence>
		</dependent_sequence>
		<scheduling_info>
			<start_at></start_at>
			<num_times></num_times>
			<time_interval></time_interval>
			<duration></duration>
		</scheduling_info>
	</service>

	<service>
		<application_name>the_third_eye</application_name>
		<service_name>emergency_notification</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>false</isDependent>
		<tensor_name></tensor_name>
		<replica_count>1</replica_count>
		<location_tag>/India/Delhi/New-Delhi/Saket</location_tag>
		<sensor_name></sensor_name>
		<service_type>exclusive</service_type>
		<output_stream></output_stream>
		<exclusive_details>
			<cpu_free>30</cpu_free>
			<cpu_benchmark>500</cpu_benchmark>
			<memory_free>0.2</memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
		<scheduling_info>
			<start_at>0</start_at>
			<num_times>1</num_times>
			<time_interval>99999</time_interval>
			<duration>99998</duration>
		</scheduling_info>
	</service>

	<service>
		<application_name>the_third_eye</application_name>
		<service_name>intrusion_model</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>tensorflow_serving</nature_of_service>
		<isDependent>false</isDependent>
		<tensor_name></tensor_name>
		<sensor_name></sensor_name>
		<replica_count>1</replica_count>
		<location_tag>/India/Delhi/New-Delhi/Saket</location_tag>
		<service_type>normal</service_type>
		<output_stream></output_stream>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
		<scheduling_info>
			<start_at></start_at>
			<num_times></num_times>
			<time_interval></time_interval>
			<duration></duration>
		</scheduling_info>
	</service>

	<service>
		<application_name>the_third_eye</application_name>
		<service_name>intrusion_helper</service_name>
		<priority_index>0</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>true</isDependent>
		<tensor_name></tensor_name>
		<replica_count>1</replica_count>
		<location_tag>/India/Delhi/New-Delhi/Saket</location_tag>
		<sensor_name>network001</sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<output_stream>10.42.0.222:9099</output_stream>
		<dependent_sequence>
			<sequence>
				<application_name>the_third_eye</application_name>
				<service_name>intrusion_helper</service_name>
			</sequence>
			<sequence>
				<application_name>the_third_eye</application_name>
				<service_name>intrusion_model</service_name>
			</sequence>
		</dependent_sequence>
		<scheduling_info>
			<start_at></start_at>
			<num_times></num_times>
			<time_interval></time_interval>
			<duration></duration>
		</scheduling_info>
	</service>

</services>
