<services>

	<service>
		<application_name>PKMKB</application_name>
		<service_name>notification</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>False</isDependent>
		<tensor_name></tensor_name>
		<sensor_name>distance_sensor</sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
	</service>


	<service>
		<application_name>PKMKB</application_name>
		<service_name>distance_alarm</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>False</isDependent>
		<tensor_name></tensor_name>
		<sensor_name>distance_sensor</sensor_name>
		<service_type>exclusive</service_type>
		<exclusive_details>
			<cpu_free>60</cpu_free>
			<cpu_benchmark>800</cpu_benchmark>
			<memory_free>120</memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
	</service>	

	<service>
		<application_name>PKMKB</application_name>
		<service_name>counter_helper</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>True</isDependent>
		<tensor_name></tensor_name>
		<sensor_name>sonar_sensor</sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
				<application_name>PKMKB</application_name>
				<service_name>sonar_model</service_name>
			</sequence>
		</dependent_sequence>
	</service>

	<service>
		<application_name>PKMKB</application_name>
		<service_name>sonar_model</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>tensorflow_serving</nature_of_service>
		<isDependent>False</isDependent>
		<tensor_name>tensor_sonar</tensor_name>
		<sensor_name></sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
	</service>

	<service>
		<application_name>PKMKB</application_name>
		<service_name>counter_service</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>True</isDependent>
		<tensor_name></tensor_name>
		<sensor_name></sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
				<application_name>PKMKB</application_name>
				<service_name>sonar_model</service_name>
			</sequence>
			<sequence>
				<application_name>PKMKB</application_name>
				<service_name>counter_helper</service_name>
			</sequence>
		</dependent_sequence>
	</service>

	<service>
		<application_name>PKMKB</application_name>
		<service_name>iris_model</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>tensorflow_serving</nature_of_service>
		<isDependent>False</isDependent>
		<tensor_name>iris_tensor</tensor_name>
		<sensor_name></sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
			</sequence>
		</dependent_sequence>
	</service>

	<service>
		<application_name>PKMKB</application_name>
		<service_name>iris_helper</service_name>
		<priority_index>1</priority_index>
		<nature_of_service>flask</nature_of_service>
		<isDependent>True</isDependent>
		<tensor_name></tensor_name>
		<sensor_name></sensor_name>
		<service_type>normal</service_type>
		<exclusive_details>
			<cpu_free></cpu_free>
			<cpu_benchmark></cpu_benchmark>
			<memory_free></memory_free>
		</exclusive_details>
		<dependent_sequence>
			<sequence>
				<application_name>PKMKB</application_name>
				<service_name>iris_tensorflow</service_name>
			</sequence>
			<sequence>
				<application_name>PKMKB</application_name>
				<service_name>iris_wrapper</service_name>
			</sequence>
		</dependent_sequence>
	</service>

</services>

